*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 0px transparent;
  }
  50% {
    text-shadow: 0px 2px 10px #fff;
  }
  100% {
    text-shadow: 0px 0px 0px transparent;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.l-col {
  display: flex;
  flex-flow: column;
}

.l-row {
  display: flex;
  flex-flow: row;
}

.l-expand {
  flex: 1;
}

.l-center-h {
  margin: 0 auto;
}

.l-center-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-center-text {
  text-align: center;
}

.main-wrapper {
  padding: 1rem;
  height: 100vh;
  min-width: 32rem;
  display: flex;
  background-color: #1c1e1f;
  overflow-y: auto;
  margin: 0 auto;
}

.instructions {
  width: 30%;
  margin-right: 2rem;
  margin-left: 2rem;
  position: relative;
}
.fixed-container {
  position: fixed;
  width: 18%;
  margin: auto;
}
.avatar-container {
  max-width: 160px;
  margin: 0 auto 20px;
}
.avatar-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.instructions__title {
  color: #fff;
  margin-bottom: 0.5rem;
  /*font-family: 'Roboto', sans-serif;*/
}
.instructions__title h1 {
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'Teko', sans-serif;
}
.instructions__subtitle p {
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
}
.social-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}
.social-container a {
  display: block;
  width: 32px;
  text-decoration: none;
  background-color: #1c1e1f;
  opacity: 0.7;
  margin: 8px;
}
.social-container a:hover {
  opacity: 1;
}
/* .social-container a:last-child {
  padding: 8px;
} */
.social-container img {
  width: 100%;
  height: auto;
}
.instructions__arrow img {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.cards-container {
  flex-wrap: wrap;
  margin: auto;
  max-width: 800px;
  width: auto;
}

.card {
  background-color: #4986e7;
  position: relative;
  height: 260px;
  /* min-height: 12rem; */
  margin: 0 1rem;
  border-radius: 13px;
  transition: all 0.2s linear;
  min-width: 120px;
  max-width: 160px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.card a {
  text-decoration: none;
}
.card:hover {
  transform: scale(1.13);
}
.card:hover .card__content {
  visibility: visible;
  opacity: 1;
  max-height: 16rem;
}
.card:hover .card__title span {
  display: block;
  animation: glow 0.9s 0.1s ease-out forwards;
}
.card:hover .card__icon img {
  animation: flip 0.6s ease-out forwards;
}
.card:last-child {
  margin-right: 0.4rem;
}
.card__globe {
  visibility: hidden;
  opacity: 0;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  margin: 0 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card__step {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin: -25% 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 3.4rem;
  font-family: 'Roboto';
  font-weight: 600;
}
.card__separator {
  width: 80%;
  border-top: dashed 1px white;
  margin: 0 auto;
  margin-top: -42%;
  z-index: 10;
}
.card__icon {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.card__icon-holder {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 50%;
  padding-bottom: 0;
}
.card__icon-holder img {
  width: 100%;
  padding: 16%;
}
.card__icon-holder img.listen {
  padding: 14%;
}
.card__icon-holder img.exchange {
  padding: 18%;
  margin-top: -2%;
}
.card__icon-holder img.clipboard {
  margin-left: 5%;
  margin-top: -4%;
}
.card__icon-holder img.coding {
  padding: 18%;
  margin-left: 2%;
}
.card__icon-holder img.analysis {
  padding: 18%;
}
.card__title {
  text-align: center;
  /* position: absolute; */
  /* bottom: 2rem; */
  margin-top: -4rem;
  height: 3rem;
  padding: 0.2rem;
}
.card__title span {
  color: #1c1e1f;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
}
.card__content {
  margin-bottom: 1rem;
  margin-top: 0.6rem;
  padding: 0 0.7rem;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s linear;
}
.card__content p {
  text-align: center;
  color: #1c1e1f;
  font-size: 1.1rem;
  flex: 0;
}

/* @media only screen and (max-width: 576px) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 576px) {
  html {
    font-size: 46%; }
    html .card__content p {
      font-weight: 600; } }

@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%; }
    html .card__content p {
      font-weight: 400; } }

@media only screen and (min-width: 992px) {
  html {
    font-size: 82.5%; } } */
